@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Reem+Kufi+Fun&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

body{
  background-color: white;
}

/*
font-family: 'Quicksand', sans-serif;
font-family: 'Reem Kufi Fun', sans-serif;
*/

/* Familia de botones*/
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}

.boton-carrito {
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;


  background-color: white;
  color: black;
  border: 1px solid green;
}

.boton-carrito:hover {background-color: green;}

.boton-eliminar {
  padding: 4px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;


  background-color: white;
  color: black;
  border: 1px solid red;
}

.boton-eliminar:hover {background-color: red;}

.button4 {
  background-color: white;
  color: black;
  border: 1px solid #e7e7e7;
}

.button4:hover {background-color: #e7e7e7;}

.button5 {
  background-color: black;
  color: white;
  border: 1px solid #555555;
}

.button5:hover {
  background-color: #555555;
  color: white;
}

.botonModos {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  left: 10px;
}

nav {
  background-color: rgba(200, 200, 200, 0.5);
  padding: 5px; }

.barraNav {
  display: flex;
  font-size: 25px;
  padding: 5px 0px 0px 15px;
  gap: 30px;
  font-family: 'Reem Kufi Fun', sans-serif; }
  .barraNav img {
    border-radius: 50%; }
  .barraNav li {
    display: inline;
    list-style: none;
    text-align: justify; }
    .barraNav li a {
      text-decoration: none;
      color: #0c00b4; }
      .barraNav li a:hover {
        color: #b4003c;
        text-decoration: underline; }

header div img {
  width: 100%;
  object-fit: cover;
  margin-top: 5px; }

main article {
  /*defino las 3 variables*/
  width: 600px;
  height: 300px;
  border-radius: 0px 0px 50px 0px;
  margin: 10px 0px 20px 40px;
  border: 1px solid rgba(26, 26, 26, 0.671);
  /*tamaño, estado, color */
  border-style: solid; }



.contFlex {
  display: flex;
  justify-content: center;
  gap: 10px 10px;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap; }

  .contCarrito {
    display: flex;
    justify-content:flex-start;
    gap: 5px 5px;
    align-items:flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .totalCarrito {
    border-style: none;
  }

/*GRIDS*/
.contGrid {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 65px 300px auto 30px;
  grid-template-areas: "header"
 "aside" 
 "main"
 "footer";
  gap: 10px;
  background-color: white; }

header {
  grid-area: header;
  background-color: white; }

aside {
  grid-area: aside;
  background-color: white; }

main {
  grid-area: main;
  background-color: white; }

footer {
  grid-area: footer;
  background-color: white; }

/*Generales*/
p {
  margin-bottom: 5px; }

h1 {
  font-family: 'Reem Kufi Fun', sans-serif;
  font-size: 40px;
  text-align: center; }

h2 {
  text-align: left;
  font-family: 'Reem Kufi Fun', sans-serif;
  font-size: 18px; }

h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 14px; }

  h4 {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px; 
    color: green;
  }

.box {
  display: flex;
  align-items: center;
  justify-content: center; }

.box1 {
  order: 1;
  width: 250px;
  margin-left: 10px; }
  .box1 img {
    width: 250px;
    height: 250px; }

.box2 {
  order: 2;
  width: 250px;
  margin-left: 20px;
  margin-top: 20px;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start; }

  .boxCarrito {
    width: 150px;
    height: 70px;
    margin-left: 20px;
    margin-top: 5px;
    flex-direction: column;
    padding: 5px;
   }

.separa {
  margin-bottom: 15px; }

footer {
  background-color: rgba(200, 200, 200, 0.5);
  height: 30px;
  font-family: 'Reem Kufi Fun', sans-serif;
  font-size: 15px; }

.footerBar {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 10px; }

.redes1 {
  order: 1; }

.redes2 {
  order: 2; }

.faq {
  margin: 10px 0px 20px 40px;
  padding: 15px 15px 15px 25px;
  width: 800px;
  height: 400px;
  border: 1px solid rgba(26, 26, 26, 0.671);
  /*tamaño, estado, color */
  border-style: solid;
  border-radius: 0px 0px 50px 0px; }
  .faq p {
    margin: 20px; }
  .faq li {
    list-style: none;
    text-align: justify;
    padding: 2px; }
    .faq li a {
      text-decoration: none;
      color: #08007e; }

form {
  margin-left: 15px;
  align-items: center;
  padding-bottom: 20px; }

fieldset {
  font-family: 'Reem Kufi Fun', sans-serif;
  padding: 10px;
  width: 350px;
  margin: 10px; }

label {
  padding-left: 15px; }

/*Pseudo class elements*/
input:focus {
  background-color: lightblue; }

textarea:focus {
  background-color: lightblue; }

.promos {
  margin: 10px 0px 20px 40px;
  width: 300px;
  height: 500px;
  border: 1px solid rgba(26, 26, 26, 0.671);
  /*tamaño, estado, color */
  border-style: solid;
  border-radius: 0px 0px 50px 0px;
  text-align: center; }
  .promos img {
    width: 250px;
    height: 250px; }
  .promos h2 {
    text-align: center;
    padding: 5px 0px 5px 0px; }
  .promos h3 {
    padding-top: 10px; }
  .promos p {
    padding-top: 20px; }
  .promos a {
    color: green;
    font-family: 'Reem Kufi Fun', sans-serif;
    font-weight: bold; }

.cart img {
  width: 15px;
  height: 15px;
  margin-right: 8px; }

/*Reconfiguraciones de Bootstrap*/
.bg-mio {
  background-color: rgba(200, 200, 200, 0.5);
  font-family: 'Reem Kufi Fun', sans-serif;
  font-size: 25px;
  text-decoration: none; }

.nav-link {
  color: #0c00b4; }

.nav-link:hover {
  color: #b4003c;
  text-decoration: underline; }

h5 {
  color: bisque;
  font-weight: bolder;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; }

/*TABLET*/
@media (max-width: 768px) {
  .barraNav {
    display: flex;
    font-size: 20px;
    padding: 5px 0px 0px 15px;
    gap: 18px; }
  .barraNav img {
    width: 30px;
    height: 30px; }
  h1 {
    font-size: 30px; }
  h2 {
    font-size: 14px; }
  h3 {
    font-size: 12px; }
  .faq {
    margin: 10px 0px 20px 20px;
    padding: 15px 15px 15px 15px;
    width: 600px; }
  .contGrid {
    grid-template-rows: 42px 150px auto 30px;
    gap: 15px; } }

/*MOBILE*/
@media (max-width: 576px) {
  .barraNav {
    display: flex;
    font-size: 14px;
    padding: 5px 0px 0px 15px;
    gap: 12px; }
    .barraNav img {
      width: 25px;
      height: 25px; }
  h1 {
    font-size: 20px; }
  h2 {
    font-size: 12px; }
  h3 {
    font-size: 10px; }
  .box {
    height: 230px; }
  .box1 {
    width: 150px;
    margin-left: 10px; }
    .box1 img {
      width: 150px;
      height: 150px; }
  .box2 {
    width: 150px;
    margin-left: 10px;
    margin-top: 0px; }
  main article {
    margin: 10px 0px 20px 10px;
    width: 350px;
    height: 170px;
    border: 1px solid rgba(26, 26, 26, 0.671);
    border-style: solid;
    border-radius: 0px 0px 25px 0px; }
  footer {
    background-color: rgba(200, 200, 200, 0.5);
    height: 24px;
    font-family: 'Reem Kufi Fun', sans-serif;
    font-size: 12px; }
    footer img {
      width: 12px;
      height: 12px; }
  .faq {
    margin: 5px 0px 20px 5px;
    padding: 15px 15px 15px 15px;
    width: 350px; }
  .contGrid {
    grid-template-rows: 35px 100px auto 30px; }
  .contFlex {
    width: 370px;
    margin: 5px 0px 20px 5px;
    padding: 15px 15px 15px 15px;
    align-self: center; }
  h5 {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 18px; }
  .container-fluid {
    height: 300px; } }
